// out: ../../dist/css/main.min.css, compileCompressed: true
@import "theme";
body {
  margin: 0 !important;
  padding: 0 !important;
}
header {
  .green-line {
    background-color: $color1;
    height: 20px;
  }
  .header-image {
    height: 600px;
    background: url("../../img/principal-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .title {
    font-family: $fontPacifico;
    color: $color5;
    font-size: 60px;
    margin-top: 160px;
  }
  .title span {
    color: $color1;
  }
  .subtitle {
    color: $color5;
    font-size: 24px;
    margin-top: 40px;
  }
  .fa-lg {
    font-size: 26px;
    color: rgba(3,3,3,0.5);
  }
  .fa-lg:hover {
    color: $color1;
  }
}
.section-two {
  margin-top: $margenTop;
  margin-bottom: $margenBottom;
  .fa-cog,
  .fa-star,
  .fa-globe {
    width: 98px;
    height: 98px;
    line-height: 98px;
    font-size: 60px;
    color: $color7;
    border-radius: 50%;
    background-color: $color1;
  }
  h3 {
    font-family: $fontRaleway;
    font-weight: 600;
    font-size: 22px;
    color: $color6;
  }
  p {
    color: $color2;
    font-size: 16px;
  }
}
.background-gray {
  background-color: $color4;
}
.section-updates {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
  h3 {
    font-family: $fontRaleway;
    font-weight: 600;
    font-size: 22px;
    color: $color6;
  }
  p {
    color: $color2;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.form-email {
  height: 51px;
}
.btn-notify {
  background-color: $color1;
  font-family: $fontRaleway;
  font-weight: 600;
  font-size: 22px;
}
.video {
  border-radius: 3%;
}
.team {
  margin-top: $margenTop;
  margin-bottom: $margenBottom;

  .phrase {
    color: $color2;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
  }
  h4 {
    font-family: $fontRaleway;
    font-weight: bold;
    font-size: 18px;
    color: $color8;
    margin-bottom: 30px;
  }
  h3 {
    font-family: $fontRaleway;
    font-weight: 600;
    font-size: 22px;
    color: $color6;
    margin-top: $margenTop;
  }
  .hover-img {
    display: inline-block;
    background-color: $color1;
    margin-bottom: 5px;
  }
  a:hover img {
    cursor: pointer;
    opacity: 0.5;
  }
  p {
    color: $color2;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .fa-lg {
    font-size: 20px;
    color: $color9;
  }
  .fa-lg:hover {
    color: $color10;
  }
}
footer{
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;

  .background-gray {
    background-color: $color4;
  }
  ul{
    padding: 0;
    margin: 0;
  }

  li{
    display: inline-block;
    text-decoration: none;
    color: $color2;
    margin: 10px;
    font-size: 16px;
  }
}


/* Extra Small Devices, Phones */
@media(max-width:767px) {
  header {
    .header-image {
      height: 250px;
    }
    .title {
      font-size: 30px;
      margin-top: 60px;
    }
    .subtitle {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .section-two {
    .fa-cog,
    .fa-star,
    .fa-globe {
      width: 68px;
      height: 68px;
      line-height: 68px;
      font-size: 30px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      margin-bottom: 40px;
    }
  }
}

.section-updates{
  .form-email {
    height: 46px;
  }
  .btn-notify {
    background-color: $color1;
    font-family: $fontRaleway;
    font-weight: 600;
    font-size: 18px;
  }
  .video {
    margin-top: 40px;
  }
}
footer{
  li{
    font-size: 12px;
  }
}
/* Small Devices, Tablets */
@media(min-width:768px) and (max-width:991px) {
  header {
    .header-image {
      height: 350px;
    }
    .title {
      font-size: 50px;
      margin-top: 90px;
    }
    .subtitle {
      font-size: 19px;
      margin-top: 20px;
    }
  }
  .section-two {
    .fa-cog,
    .fa-star,
    .fa-globe {
      width: 78px;
      height: 78px;
      line-height: 78px;
      font-size: 40px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }

}
.section-updates{
  .video {
    margin-top: 40px;
  }
}

footer{
  li{
    font-size: 14px;
  }
}

#hover-TW{
   text-decoration: none;
  }
#hover-FB{
   text-decoration: none;
  }
#hover-PN{
   text-decoration: none;
  }
#hover-G{
   text-decoration: none;
  }
#hover-IN{
   text-decoration: none;
  }
#hover-YT{
   text-decoration: none;
  }
/* Medium Devices, Desktops */
@media(min-width:992px) and (max-width:1199px) {}
/* Large Devices, Wide Screens */
@media(min-width:1200px) {}
