$color1:#2ecc71;
$color2:#848484;
$color3:#222222;
$color4:#e3e3e3;
$color5:#ffffff;
$color6:#030303;
$color7:#f4f4f4;
$color8:#2e2e2e;
$color9:#c5c5c5;
$color10:#62d995;

$fontPacifico: 'Pacifico', cursive;
$fontRaleway:'Raleway', sans-serif;


$margenTop: 60px;
$margenBottom:60px;

$paddingTop: 60px;
$paddingBottom:60px;
